{% extends "layouts/main.html" %}

{% block title %}Produtos{% endblock %}

{% block content %}
<div class="container mt-4">

    <h4 class="mb-4 fw-semibold">
        <i class="fa-solid fa-box me-2 text-success"></i>
        Lista de Produtos
    </h4>

    <div class="mb-3">
        <button class="btn btn-success d-flex align-items-center gap-2"
            onclick="api.window.openModal('pages/product', { width: 900, height: 600, title: 'Novo Produto' })">
            <i class="fa-solid fa-plus"></i>
            Novo Produto
        </button>
    </div>
    <div class="card shadow-sm border-0">
        <div class="card-body">
            <table id="table-products" class="table table-hover align-middle mb-0" style="width: 100%;">
                <thead class="table-light">
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Cód. barra</th>
                        <th>Unidade</th>
                        <th>Preço</th>
                        <th>Preço de venda</th>
                        <th>Ativo</th>
                        <th>Criado em</th>
                        <th>Atualizado em</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script defer type="module" src="file:///{{ assets }}/js/list-product.js"></script>
{% endblock %}